.cart-table {
    margin: 15px 0;
}

.table button {
    margin: 5px 0 0 5px;
}

.total {
    text-align: right;
    margin-right: 10px;
}

.total-price {
    font-size: 1.3rem;
}

.checkout {
    margin: 10px 0;
}

.checkout i {
    margin-right: 10px;
}